.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#bowl {
    width: 400px;
    position: relative;
    bottom: 0;
    z-index: 10;
}

#disk {
    width: 400px;
    position: absolute;
}



.cube-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
    
    justify-content: center;

    position: absolute;
    bottom: 350px;
    z-index: 5;
}

.cube {
    width: 100px;
    margin: 5px;
    flex: 0 0 50%;
}

