.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#bowl {
    width: 400px;
    position: relative;
    bottom: 0;
    z-index: 10;
}

#disk {
    width: 400px;
    position: absolute;
}



.cube-block {
    display: flex;
    width: 300px;
    flex-wrap: wrap;

    margin-left: 100px;
    margin-right: auto;

    position: absolute;
    bottom: 310px;
    z-index: 5;
}


.cube-block img {
    width: 100px;
}


.second-row {
    display: block;
    margin-left: 50px;
}

